body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #1a1a1a;
  color: #f0f0f0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  outline: none;
}

.container {
  width: 100%;
  max-width: 900px;
  padding: 20px;
  box-sizing: border-box;
  background-color: #061305;
  box-shadow: 0 0 20px rgba(0, 255, 0, 0.5);
  border-radius: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #02892680;
  margin-bottom: 20px;
}

.navbar .logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #1ea640;
}

.main-content {
  display: flex;
  flex-direction: row;
}

.left-column {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 10px #02892680;
  border: 2px solid #333;
  transition: transform 0.3s;
}

.right-column {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40px;
  box-sizing: border-box;
}

p {
  text-indent: 20px;
}

h1 {
  margin: 0 0 10px;
  font-size: 2rem;
  font-weight: bold;
}

.typing-text {
  font-size: 1.2rem;
  font-weight: 300;
  min-height: 30px;
  background: linear-gradient(to right, #003300, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.links {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.circle-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #02892680;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}

.circle-icon:hover {
  background-color: #666;
  color: #26ff00;
  transform: scale(1.1);
}

.circle-icon:hover i {
  color: #26ff00;
}

.circle-icon i {
  color: #1f9827;
}

.download-cv {
  padding: 0px 20px;
  border: none;
  border-radius: 20px;
  color: #15a93c;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 0 10px #02892680;
  background-color: transparent;
}

.download-cv:hover {
  background-color: #666;
  color: #26ff00;
  scale: 1.1;
}

/* ========== Responsive styles ========== */
/* Màn hình dưới 768px (tablet, mobile) */
@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
  }

  .right-column {
    padding-left: 0;
  }
}

/* Màn hình dưới 480px (mobile nhỏ hơn) */
@media (max-width: 480px) {
  .container {
    padding: 10px;
    margin: 0 20px 0 20px;
  }

  .profile-pic {
    width: 150px;
    height: 150px;
  }

  .right-column {
    margin-top: 20px;
  }

  h1 {
    font-size: 1.5rem;
  }

  p {
    text-indent: 0;
    margin: 10px 0;
  }

  .links {
    margin-top: 10px;
    gap: 10px;
  }

  .circle-icon {
    width: 30px;
    height: 30px;
  }

  .download-cv {
    padding: 5px 15px;
    font-size: 0.9rem;
  }
}
